<%- layout("boiler")-%>

<%- include("flash")-%>

<link rel="stylesheet" href="/css/login.css">

<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <p class="navbar-brand mb-0"> <b>C</b>ar<b>N</b>ival</p> 
    </div>
  </nav>

<link rel="stylesheet" href="/css/preloader.css">
<div id="preloader">
  <div class="container1">  
    <img src="https://static.wixstatic.com/media/dea926_fc1e0f87b7314fc9be94826a3460252e.gif"></img>
  </div>
  <div class="part1 ">
    Transform Yourself
  </div> 

  <div class="loader">
    <div class="loading">
    </div>
  </div>
</div>




 <div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="my-4">New Password</h2>
          <form action='/forgotten-password/<%=userId%>/<%=token%>' class="needs-validation" method="post" novalidate>
            <input type="password" id="password" class="fadeIn third px-3 m-3 form-control" name="password" placeholder="Enter  New Password" required>
            <input type="password" id="password" class="fadeIn third px-3 m-3 form-control" name="confirm_password" placeholder="Confirm  New Password" required>
            <input type="submit" class="fadeIn fourth" value="Change Password">
          </form>
        
    </div>
  </div>

  
  <%- include("footer") -%> 
  
  <script src="/js/validation.js"></script>
  
  
  <script>
    let spinnerWrapper = document.querySelector('#preloader');
  
    window.addEventListener('load', function () {
         spinnerWrapper.style.display = 'none';
        spinnerWrapper.parentElement.removeChild(spinnerWrapper);
    });
  </script>