<%-layout("boiler")-%> 
<%- include("nav")-%> 
<% console.log(foundevent) %> 
<link rel="stylesheet" href="/css/login.css">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="my-4">EDIT</h2>
          <form action="/club/<%=clubname%>/<%=foundevent._id%>/edit?_method=PUT" class="needs-validation" method="post" novalidate>
            <input type="text" class="fadeIn second  px-3 m-3 form-control mb-3" name="eventname"  value="<%=foundevent.eventname%>" placeholder="Event Name" required>
            <input type="text" class="fadeIn second  px-3 m-3 form-control mb-3" name="eventdate"  value="<%=foundevent.eventdate%>" placeholder="Event Date" required>
           
            <input type="text" class="fadeIn second  px-3 m-3 form-control mb-3" name="enddate"  value="<%=foundevent.enddate%>" placeholder="Event Time" required>
          
            <textarea name="eventdiscription"  class="fadeIn second  px-3  form-control" style="margin-left: 35px;"  id="area" cols="20" rows="5" placeholder="Discription" required><%=foundevent.eventdiscription%></textarea>
           
        
            <input type="submit" class="fadeIn fourth" value="Edit">
          </form>

    </div>
  </div>
  <%- include("footer") -%> 
<script src="/js/validation.js"></script>