
<%- layout("boiler")-%>

<%- include("nav")-%>


<link rel="stylesheet" href="/css/login.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="my-4">REGISTER</h2>
        <form action="/club/<%=clubname %>/<%=eventid%>/register" class="needs-validation" method="post" novalidate>
            <input type="text" id="name" class="fadeIn second  px-3 m-3 form-control" name="name" placeholder="Enter Your Name" required>  
            <input type="email" id="username" class="fadeIn second  px-3 m-3 form-control" name="username" placeholder="Enter Mail ID" required>
            <input type="text" id="RollNumber" class="fadeIn second  px-3 m-3 form-control" name="rollno" placeholder="Enter your Roll Number" required>
            <input type="text" id="department" class="fadeIn second  px-3 m-3 form-control" name="department" placeholder="Enter your Department" required>
            <input type="text" id="member" class="fadeIn second  px-3 m-3 form-control" name="member" placeholder="Team Member Name ">
            <input type="submit" class="fadeIn fourth" value="REGISTER">
          </form>
          
    </div>
  </div>
  <%- include("footer") -%> 
  <script src="/js/validation.js"></script>