<%- layout("boiler")-%>
<%- include("nav")-%>
<%- include("clubnav")-%>
<%- include("flash")-%>

<%console.log(found)%> 
<div class="para  align-middle "  >
  <div class=" p-4" style="text-align: center;">
    <h1 class="mt-5 welcome">Welcome!</h1>
    <p class="qouts">"To achieve great things, two things are needed: a plan, and not quite enough time"</p>
      <a href="/#allclub" ><button class="btn homebtn mt-4" >Explore</button></a>
  </div>
  

</div>

<div class="club-back">
  <section id="allclub">
<div class="container p-5">
  <h1 class="text-center head">Clubs</h1>
  <hr>
</div>
<div class="container p-3 "style="color:white ;">
  
<% for( let club of found) { %>
  <div class="card mb-5    card-each" >
    <div class="row g-0 d-flex justify-content-center">
      <div class="col-md-4 img">
        <% club.images.forEach(element => { %>
          <img height="189px"    
          width="300px" src="<%=element.url %>" class="img-fluid rounded-start" alt="...">   
        <% }) %>
        
      </div>
      
      <div class="col-md-8 card-club">  
        <form action="/club/<%=club.clubname%>" method="get">   
        <div class="card-body">
          <h5 class="card-title fw-bold"><%=club.clubname%> </h5>
          <p class="card-text"><%=club.discription.slice(0, 150)%>... </p>
         
          <button type="submit" class="btn homebtn mt-3">View More</button>
        </div>
      </form>
      
      </div>
    
    </div>
  </div>
    

<% } %>
</div>
  </section>



<% if ("61e9a02c0a2ffa3f420cf4bf"==currentUser._id) { %>



  <%console.log("Podaaa",currentUser.username)%>
  
  <form action="/newclub" method="get">
    <a href="/newclub" class="float" >
      <i class="fa fa-plus my-float"></i>
      </a>
    
  </form>
 
<% } %>
<section id="about" class="container p-4">
  <h1 class="text-center head">About</h1>
  <hr>
<p class="text-center pb-5 mb-5"style="color:white ;">     Carnival is a website that is created for the college so that all the students and faculty members can know about the upcoming events and celebrations that is going to happen and keeps them notified about it. It is developed in such a way that it can be used for any kind of future events or symposiums in the college. We decided to make it as attractive as possible so that everyone would like to register to the occasion.
  We designed it to give the best and easy features making the process of registration and creating a new event easy. We made it to look captivating, convenient and bring the joy of being in an event happening in our college. We came up with this idea to provide a solution to the problem of promoting an event that is going to happen. Most of the times students are not aware of these and they don't participate . By creating this website , that problem will be reduced and participation will be increased .</p>
</section>
<div class="container pb-5">
 <div class="row social d-flex justify-content-center">
   <div class="col-sm-4 d-flex justify-content-center">
    <a href="https://twitter.com/"style="color: white;"><i class="fab fa-twitter fs-3" > </i></a>
   </div>
   <div class="col-sm-4 d-flex justify-content-center">
   <a href="https://facebook.com/"style="color: white;"> <i class="fab fa-facebook fs-3"></i></a>
   </div>
   <div class="col-sm-4 d-flex justify-content-center">
    <a href="https://instagram.com/"style="color: white;"><i class="fab fa-instagram fs-3"></i></a>
   </div>
 </div>
</div>
</div>

<%- include("footer") -%> 
